/* parent of img */
.java {
    min-height: 400px !important;
}

/* for img */
.anime {
    object-fit: cover !important;
}

/* section on img */
.aks {
    width: 200px !important;
    height: 200px !important;
}

/* text in section in img */
.dana{
    background-color: #B0578D;
}



/* <!-- second-section --> */
h1{
    font-size: 3em;
}


@media (max-width:540px){
    
    .tuos{
        flex-direction: column !important;
    }
}



/* for container */
 
@media (max-width:992px){
    .cont{
        flex-direction: column !important;
    }
    
}


.hasani{
    background-color: rgba(220, 220, 220, 0.9);
}