@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");


/* top text */
.first-text {
    max-width: 500px;
}

/* 
.card-img {
   
} */


/* icons in card */
.card-body i:hover {
    transition-property: all;
    background-color: #F2BED1;
    color: black !important;
}

/* card-hide */
.card-plus {
    bottom: -50px;
    position: absolute;
    opacity: 0;
    width: 100%;
    height: auto;
    transition-property: all;
    transition-duration: 0.5s;
}

/* for hover in card (card and img) */
.big-bax:hover {
    .card-plus {
        opacity: 1;
        bottom: 0px;
    }

    #zx {
        transform: scale(1.1);
    }
}

/* img container */
#zxx {
    overflow: hidden;
    width: auto;
    height: auto;
}
 
/* img */
#zx {
    background-position: center;
    background-size: cover;
    transition: all .5s;
}