#subject-f{
    height: 100px;
}

#btn-fff{
    background-color: rgb(241, 128, 147);
    border: none;
    width: 12rem;
    transition: all .5s;
}

#btn-fff:hover{
    background-color: rgb(250, 156, 172);
}
