#subject-f{
    height: 100px;
}

#btn-fff{
    background-color: rgb(241, 128, 147);
    border: none;
    width: 12rem;
    transition: all .5s;
}

#btn-fff:hover{
    background-color: rgb(250, 156, 172);
}

#wrappp{
    display: flex;
    flex-wrap: wrap;
}

#mappp{
width: 500px !important;
 height: 610px !important;
}

@media screen and (max-width:525px) {
    #mappp{
        display: block;
        margin: 0;
        max-width: 51vw;
    }
}

@media (max-width:700px){

#mappp{
    width: 3rem;
}

#btn-fff{
    margin-bottom: 2rem;
}

}